<div>
    <h3>Title : </h3>
        <%= @article.title%> <br/>
     <h3>Short Note : </h3>
        <%= @article.note%> <br/>


    <h3>Content :</h3>
        <%= @article.body %> <br/><br/>
    <div class="">
        <button class="btn btn-outline-primary" type="button"><%= link_to "Next",article_path(@article.next) %></button>
        <button class="btn btn-outline-danger" ><%= link_to "Delete", articles_delete_path(@article.id),method: :delete %> <br/></button>
        <button class="btn btn-outline-warning" type="button"><%= link_to "Edit", edit_article_path(@article.id) %></button>
    </div>

        
        <p>
        Tags:
        <% @article.tags.each do |tag| %>
        <%= link_to tag.name.upcase, tag_path(tag.id) %>
        <% end %>
        </p>    

    <h3>Comments (<%= @article.comments.size %>) </h3>

        <%= render partial: 'comments/comment', collection: @article.comments %>
        <%= render partial: 'comments/form', locals: {article: @article } %>

    <%= link_to "<< Back to Articles List" , articles_path %> <br/>

</div>