<h1>Comments Associated with <%= @tag.name %></h1>
<!--
<ul>
  <% @tag.articles.each do |article| %>
    <li><% link_to "Article : #{article.title}", article_path(article) %></li>
        <% article.comments.each do |c| %>
        <%= "Comments:  #{c.body}" %> <br/>
        <%end%> <br/>

  <% end %>
</ul>
-->

<table class="table">
  <tr>
    <th>Title</th>
    <th>Note</th>
    
  </tr>
 
  <!--<% @tag.comments.each do |c| %> for showing comments related to tags and all associated articles with comments
  <td><%= c.body%></td>
  <td><%=c.article.title%></td>
  </tr>
  <% end %>
  -->
   <tr>
   <% @tag.articles.each do |c| %>
   <td><%= c.title%></td>
  <td><%=c.note%></td>
  </tr>
  <% end %>


</table>
